.trigger {
  cursor: pointer;
  display: inline-block;

}

.container {
  background: rgb(var(--surface-container-highest));
  border-radius: 8px;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.30);
  padding: 0.625rem 0.5rem;
  min-width: 9rem;
  max-width: 19rem;
  z-index: 1000;
  gap: 0.125rem;
  max-height: 30rem;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.scrollContainer {
  overflow-y: auto;
  flex: 1; /* Nimmt den verfügbaren Platz ein */
  min-height: 0; /* Wichtig für flex-shrink */
  gap: 0.125rem;
}

.property {
  position: relative;
  display: flex;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1rem;
  color: rgb(var(--on-surface));
  outline-offset: 2px;

  &[data-has-icon="true"]{
    padding-inline: 0.625rem;
    gap: 0.25rem;
    font-size: 0.875rem;
    align-items: center;
  }

  &[data-selected="true"]{
    background: rgb(var(--secondary-container));
    color: rgb(var(--on-secondary-container));
  }

  &:focus-visible{
    outline: 2px solid rgb(var(--primary));
  }

  &::after{
    margin: -1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    background-color: rgb(var(--on-surface));
    opacity: 0;
    content: "";
    transition: opacity 0.3s ease-in-out;
}

  &[data-selected="true"]::after{
    background-color: rgb(var(--on-secondary-container));
  }

  &:hover::after{
    opacity: 0.12;
  }

  &:active::after{
    opacity: 0.20;
  }

  
  // Disabled state
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
