.logoWrapperContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7.25rem;

    & > h2{
        color: rgb(var(--on-surface));
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-style: italic;
        font-weight: 500;
        height: calc(1.5rem * 2 + 0.125rem);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        width: 100%;
        padding-top: 0.25rem;

        @media (max-width: 450px){
            height: calc(1.25rem * 2 + 0.125rem);
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 600;
        }
    }
}

.logo{

    @media (max-width: 450px){
        width: 4.75rem;
        height: 4.75rem ;
    }
}