.body{
    background-color: rgb(var(--surface));
    min-height: 100dvh;
}

.container {
  background-color: rgb(var(--surface));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

