.homePage{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: red;
    overflow: hidden;
}
.scrollContainer{
    width: 100%;
    height: 100%;
    background-color: blue;
}
.scrollContainer2{
    width: 100%;
    height: 100%;
    background-color: green;
}