.letterAvatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(var(--on-primary-container));
    background-color: rgb(var(--primary-container));
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;


    &:hover{
        transform: scale(1.05);
    }

    &:active{
        transform: scale(0.95);
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(var(--on-primary-container));
        border-radius: inherit;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover::after{
        opacity: 0.12;
    }

    &:active::after{
        opacity: 0.2;
    }
}