.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.25rem;

    &[data-error="true"]{
        label{
            color: rgb(var(--error));
        }
    }

    label{
        color: rgb(var(--on-surface-variant));
        font-size: 1rem;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.03125rem;
    }



.inputContainer{
    cursor: text;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    border: 1px solid rgb(var(--outline));
    border-radius: 0.5rem;
    padding: 0.375rem;
    background-color: transparent;
    color: rgb(var(--on-surface-variant));
    font-size: 1rem;
    outline-offset: 2px;
    outline: 1px solid transparent;
    transition: outline 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-sizing: border-box;
    color: rgb(var(--on-surface-variant));



    &:hover{
        background-color: rgba(var(--on-surface), 0.08);
    }

    &:focus-within{
        background-color: rgb(var(--surface-container-lowest)) ;
    }

    &[data-error="true"]{
        border-color: rgb(var(--error));
        background-color: rgb(var(--error-container));
        color: rgb(var(--on-error-container));

        &.icon{
            color: rgb(var(--on-error-container));
        }
    }

    &[data-error="true"] input{
        color: rgb(var(--on-error-container));

        &::placeholder{
            color: rgba(var(--on-error-container), 0.75);
        }
    }
    
    input{
        line-height: 1.5rem;
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        color: rgb(var(--on-surface));
        font-size: 1rem;
    }

    .input::placeholder{
        color: rgb(var(--on-surface-variant));
    }

}
}

.helperText{
    color: rgb(var(--on-surface-variant));
}

.error{
    color: rgb(var(--error));
}

.error, .helperText {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
    &::before {
        content: '•';
        margin-right: 0.5em;
        color: inherit;
    }
}

.error li, .helperText li {
    position: relative;
    list-style: none;
    padding-left: 0;
}

.error li::before, .helperText li::before {
    content: '•';
    margin-right: 0.5em;
    color: inherit;
}

.icon{
    padding: 0.125rem;
}