.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
}

.gamesContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}