.seriesCards {
  text-decoration: none;
  gap: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--card-background));
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(var(--surface-container-highest));
  position: relative;
  cursor: pointer;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    background: rgb(var(--on-surface));
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover::after{
    opacity: 0.04 !important;
  }

  &:active::after{
    opacity: 0.08 !important;
  }


  @media (max-width: 450px){
    gap: 0.25rem;
  }
}