.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-left: 0;
  border-bottom: 1px solid rgb(var(--outline-variant));
  padding-top: 0.25rem;
  overflow-x: auto;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}