.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(var(--outline-variant));
  margin-right: 1rem;
  margin-left: 0.5rem;
  padding-top: 0.25rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}