.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    height: 4rem;

    & > .topBarMenuIcon{
        display: none;
    }
    
    & > h1{
        font-size: 1.75rem;
        font-weight: 600;
        color: rgb(var(--on-surface));
        width: 100%;
    }

    & > div{
        display: flex;
        gap: 0.5rem;
    }

    @media (max-width: 600px) {
        & > .topBarMenuIcon{
            display: block;
        }

        & > h1{
            font-size: 1.3rem;
        }

        & > div > .topBarRegisterButton{
            display: none;
        }
    }
}