.filterChips {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 0.75rem;
  line-height: 1rem;
  gap: 0.25rem;
  padding: 0.25rem 1rem;
  border-radius: 6px;
  background-color: rgb(var(--surface-container-high));
  color: rgb(var(--on-surface-variant));
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  outline-offset: 2px;
  white-space: nowrap;

  & > svg {
    color: rgb(var(--tertiary));
  }

  &[data-has-left-data=true][data-trailing-icon=true] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &[data-has-left-data=true]:not([data-trailing-icon=true]) {
    padding-left: 0.5rem;
    padding-right: 0.625rem;
  }

  &[data-trailing-icon=true]:not([data-has-left-data=true]) {
    padding-right: 0.5rem;
    padding-left: 0.625rem;
  }

  &[data-selected=true] {
    border-color: transparent;
    background-color: rgb(var(--secondary-container));
    color: rgb(var(--on-secondary-container));

    &:after{
        color: rgb(var(--on-secondary-container));
    }
  }


  .trailingIcon{
    transform: rotate(90deg);
    color: rgb(var(--on-surface-variant));
  }

  &::after{
    margin: -1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    background-color: rgb(var(--on-surface));
    opacity: 0;
    content: "";
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

  &:not(:disabled):hover {
    transform: scale(1.05);
  }

  &:not(:disabled):active {
    transform: scale(0.95);
  }

  &:not(:disabled):focus-visible {
    outline: 2px solid rgb(var(--primary));
  }

  &:not(:disabled):hover::after {
    opacity: 0.12;
  }

  &:not(:disabled):active::after {
    opacity: 0.2;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.38;
    filter: grayscale(1);
  }
}

.elevated {
  background-color: rgb(var(--surface-container-high));
  color: rgb(var(--on-surface-variant));
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.outlined {
  background-color: transparent;
  color: rgb(var(--on-surface-variant));
  border: 1px solid rgb(var(--outline));
}