.scrollContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.5rem, 32rem));
    gap: 1rem;
    justify-content: center; 
    column-gap: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    align-items: stretch; 
    grid-auto-rows: 14rem;
    padding-bottom: 2rem;

    @media (max-width: 450px) {
        grid-auto-rows: 9rem;
    }

    @media (max-width: 600px) {
        padding-inline: 1rem;
    }
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--on-surface-variant));
    gap: 0.5rem;
    grid-column: 1 / -1;
    
}

.noMatches{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(var(--on-surface-variant));
    gap: 0.5rem;
    grid-column: 1 / -1;

    svg{
        color: rgb(var(--outline-variant));
        width: 7rem;
        height: 7rem;
    }
}
