.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    background-color: rgb(var(--primary));
    color: rgb(var(--on-primary));
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    outline-offset: 2px;
    height: 2.75rem;
    transition: transform 0.3s ease-in-out;
    position: relative;
    text-decoration: none;

    &::after{
        margin: -2px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        background-color: rgb(var(--on-surface));
        opacity: 0;
        content: "";
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    &[data-full-width = "true"]{
        width: 100%;
    }

    &:not(:disabled):hover{
        transform: scale(1.02) !important;
    }

    &:not(:disabled):active{
        transform: scale(0.98) !important   ;
    }

    &:not(:disabled):focus-visible{
        outline: 2px solid rgb(var(--primary));
    }

    &:not(:disabled):hover::after{
        opacity: 0.12;
    }

    &:not(:disabled):active::after{
        opacity: 0.2;
    }


    &[data-loading = "true"]{
        filter: grayscale(0.35);
        cursor: progress;
    }

    &[data-loading = "true"] .icon{

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 4rem !important;
        width: 4rem !important;
        color: transparent;
    }

    
    &:disabled{
        cursor: not-allowed;
        opacity: 0.38;
        filter: grayscale(1);
    }

}

.filled{
    background-color: rgb(var(--primary));
    color: rgb(var(--on-primary));
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

    &:not(:disabled):hover, &:not(:disabled):active{
        background-color: rgb(var(--primary));
    }


    &::after{
        background-color: rgb(var(--on-primary));
    }

    &[data-error = "true"]{
        background-color: rgb(var(--error));
        color: rgb(var(--on-error));

        &::after{
            background-color: rgb(var(--on-error));
        }
    }
}

.outlined{
    background-color: transparent;
    color: rgb(var(--on-surface));
    border-color: rgb(var(--outline));

    &::after{
        background-color: rgb(var(--on-surface));
    }

    &[data-error = "true"]{
        color: rgb(var(--error));
        border-color: rgb(var(--error));

        &::after{
            background-color: rgb(var(--on-error-container));
        }
    }
}

.text{
    background-color: transparent;
    color: rgb(var(--primary));

    &::after{
        background-color: rgb(var(--on-surface));
    }

    &[data-error = "true"]{
        color: rgb(var(--error));

        &::after{
            background-color: rgb(var(--on-error-container));
        }
    }
}

.tonal{
    background-color: rgb(var(--secondary-container));
    color: rgb(var(--on-secondary-container));

    &::after{
        background-color: rgb(var(--on-secondary-container));
    }

    &[data-error = "true"]{
        background-color: rgb(var(--error));
        color: rgb(var(--on-error));

        &::after{
            background-color: rgb(var(--on-error));
        }
    }
}