@mixin dark-theme {
  --primary: 133, 210, 231;
  --surface-tint: 133, 210, 231;
  --on-primary: 0, 54, 65;
  --primary-container: 0, 78, 93;
  --on-primary-container: 173, 236, 255;
  --secondary: 225, 183, 245;
  --on-secondary: 67, 34, 85;
  --secondary-container: 91, 57, 109;
  --on-secondary-container: 245, 217, 255;
  --tertiary: 255, 178, 190;
  --on-tertiary: 86, 29, 42;
  --tertiary-container: 113, 51, 64;
  --on-tertiary-container: 255, 217, 222;
  --error: 255, 180, 171;
  --on-error: 105, 0, 5;
  --error-container: 147, 0, 10;
  --on-error-container: 255, 218, 214;
  --background: 25, 28, 30;
  --on-background: 222, 227, 229;
  --surface: 25, 28, 30;
  --on-surface: 222, 227, 230;
  --surface-variant: 63, 72, 74;
  --on-surface-variant: 191, 200, 202;
  --outline: 137, 146, 149;
  --outline-variant: 63, 72, 74;
  --shadow: 0, 0, 0;
  --scrim: 0, 0, 0;
  --inverse-surface: 222, 227, 230;
  --inverse-on-surface: 44, 49, 51;
  --inverse-primary: 0, 104, 122;
  --primary-fixed: 173, 236, 255;
  --on-primary-fixed: 0, 31, 38;
  --primary-fixed-dim: 133, 210, 231;
  --on-primary-fixed-variant: 0, 78, 93;
  --secondary-fixed: 245, 217, 255;
  --on-secondary-fixed: 44, 11, 62;
  --secondary-fixed-dim: 225, 183, 245;
  --on-secondary-fixed-variant: 91, 57, 109;
  --tertiary-fixed: 255, 217, 222;
  --on-tertiary-fixed: 59, 7, 22;
  --tertiary-fixed-dim: 255, 178, 190;
  --on-tertiary-fixed-variant: 113, 51, 64;
  --surface-dim: 15, 20, 22;
  --surface-bright: 52, 58, 60;
  --surface-container-lowest: 9, 15, 17;
  --surface-container-low: 23, 28, 30;
  --surface-container: 27, 32, 34;
  --surface-container-high: 37, 43, 45;
  --surface-container-highest: 48, 54, 56;
  --card-background: 37, 43, 45;

  --success: 150, 213, 166;
  --on-success: 0, 57, 28;
  --success-container: 17, 81, 46;
  --on-success-container: 177, 241, 193;

  --info: 155, 203, 251;
  --on-info: 0, 51, 83;
  --info-container: 14, 74, 115;
  --on-info-container: 206, 229, 255;

  --warning: 235, 192, 108;
  --on-warning: 65, 45, 0;
  --warning-container: 93, 66, 0;
  --on-warning-container: 255, 222, 163;
}

@media (prefers-color-scheme: dark) {
  html {
    @include dark-theme;
  }
}

html.dark {
  @include dark-theme;
}
