.light-high-contrast {
  --md-sys-color-primary: 0, 104, 122;
  --md-sys-color-surface-tint: 0, 104, 122;
  --md-sys-color-on-primary: 255, 255, 255;
  --md-sys-color-primary-container: 0, 78, 93;
  --md-sys-color-on-primary-container: 255, 255, 255;
  --md-sys-color-secondary: 91, 57, 109;
  --md-sys-color-on-secondary: 255, 255, 255;
  --md-sys-color-secondary-container: 67, 34, 85;
  --md-sys-color-on-secondary-container: 255, 255, 255;
  --md-sys-color-tertiary: 113, 51, 64;
  --md-sys-color-on-tertiary: 255, 255, 255;
  --md-sys-color-tertiary-container: 86, 29, 42;
  --md-sys-color-on-tertiary-container: 255, 255, 255;
  --md-sys-color-error: 147, 0, 10;
  --md-sys-color-on-error: 255, 255, 255;
  --md-sys-color-error-container: 105, 0, 5;
  --md-sys-color-on-error-container: 255, 255, 255;
  --md-sys-color-background: 250, 253, 255;
  --md-sys-color-on-background: 25, 28, 30;
  --md-sys-color-surface: 250, 253, 255;
  --md-sys-color-on-surface: 25, 28, 30;
  --md-sys-color-surface-variant: 219, 228, 230;
  --md-sys-color-on-surface-variant: 25, 28, 30;
  --md-sys-color-outline: 63, 72, 74;
  --md-sys-color-outline-variant: 63, 72, 74;
  --md-sys-color-shadow: 0, 0, 0;
  --md-sys-color-scrim: 0, 0, 0;
  --md-sys-color-inverse-surface: 25, 28, 30;
  --md-sys-color-inverse-on-surface: 250, 253, 255;
  --md-sys-color-inverse-primary: 133, 210, 231;
  --md-sys-color-primary-fixed: 0, 78, 93;
  --md-sys-color-on-primary-fixed: 255, 255, 255;
  --md-sys-color-primary-fixed-dim: 0, 104, 122;
  --md-sys-color-on-primary-fixed-variant: 255, 255, 255;
  --md-sys-color-secondary-fixed: 67, 34, 85;
  --md-sys-color-on-secondary-fixed: 255, 255, 255;
  --md-sys-color-secondary-fixed-dim: 91, 57, 109;
  --md-sys-color-on-secondary-fixed-variant: 255, 255, 255;
  --md-sys-color-tertiary-fixed: 86, 29, 42;
  --md-sys-color-on-tertiary-fixed: 255, 255, 255;
  --md-sys-color-tertiary-fixed-dim: 113, 51, 64;
  --md-sys-color-on-tertiary-fixed-variant: 255, 255, 255;
  --md-sys-color-surface-dim: 234, 237, 239;
  --md-sys-color-surface-bright: 250, 253, 255;
  --md-sys-color-surface-container-lowest: 255, 255, 255;
  --md-sys-color-surface-container-low: 244, 247, 249;
  --md-sys-color-surface-container: 238, 241, 243;
  --md-sys-color-surface-container-high: 232, 235, 237;
  --md-sys-color-surface-container-highest: 226, 229, 231;
}
