@mixin light-theme {
  --primary: 0, 104, 122;
  --surface-tint: 0, 104, 122;
  --on-primary: 255, 255, 255;
  --primary-container: 0, 78, 93;
  --on-primary-container: 255, 255, 255;
  --secondary: 91, 57, 109;
  --on-secondary: 255, 255, 255;
  --secondary-container: 245, 217, 255;
  --on-secondary-container: 44, 11, 62;
  --tertiary: 113, 51, 64;
  --on-tertiary: 255, 255, 255;
  --tertiary-container: 86, 29, 42;
  --on-tertiary-container: 255, 255, 255;
  --error: 186, 26, 26;
  --on-error: 255, 255, 255;
  --error-container: 255, 218, 214;
  --on-error-container: 65, 0, 2;
  --background: 254, 250, 252;
  --on-background: 25, 28, 30;
  --surface: 254, 250, 252;
  --on-surface: 25, 28, 30;
  --surface-variant: 219, 228, 230;
  --on-surface-variant: 63, 72, 75;
  --outline: 63, 72, 74;
  --outline-variant: 63, 72, 74;
  --shadow: 0, 0, 0;
  --scrim: 0, 0, 0;
  --inverse-surface: 25, 28, 30;
  --inverse-on-surface: 250, 253, 255;
  --inverse-primary: 133, 210, 231;
  --primary-fixed: 0, 78, 93;
  --on-primary-fixed: 0, 31, 38;
  --primary-fixed-dim: 0, 104, 122;
  --on-primary-fixed-variant: 255, 255, 255;
  --secondary-fixed: 67, 34, 85;
  --on-secondary-fixed: 255, 255, 255;
  --secondary-fixed-dim: 91, 57, 109;
  --on-secondary-fixed-variant: 255, 255, 255;
  --tertiary-fixed: 86, 29, 42;
  --on-tertiary-fixed: 255, 255, 255;
  --tertiary-fixed-dim: 113, 51, 64;
  --on-tertiary-fixed-variant: 255, 255, 255;
  --surface-dim: 234, 237, 239;
  --surface-bright: 250, 253, 255;
  --surface-container-lowest: 255, 255, 255;
  --surface-container-low: 244, 247, 249;
  --surface-container: 238, 241, 243;
  --surface-container-high: 232, 235, 237;
  --surface-container-highest: 226, 229, 231;

  --success: 46, 106, 68;
  --on-success: 255, 255, 255;
  --success-container: 177, 241, 193;
  --on-success-container: 18, 81, 46;

  --info: 47, 98, 140;
  --on-info: 255, 255, 255;
  --info-container: 206, 229, 255;
  --on-info-container: 14, 74, 115;

  --warning: 121, 89, 12;
  --on-warning: 255, 255, 255;
  --warning-container: 255, 222, 163;
  --on-warning-container: 93, 66, 0;
}

@media (prefers-color-scheme: light) {
  html {
    @include light-theme;
  }
}

html.light {
  @include light-theme;
}