.container {
  color: rgb(var(--on-surface));
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(var(--card-background));
  border-radius: 16px;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.30);
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    background: rgb(var(--on-surface-variant));
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover::after{
    opacity: 0.04 !important;
  }

  &:active::after{
    opacity: 0.08 !important;
  }
}
.image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 4px;
}

.content {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  @media (max-width: 480px) {
    width: min-content;
    min-width: 11rem;
    max-width: 100%;
  }


  & > h1{
    font-size: 1.75rem;
    line-height: 2rem;
    font-style: italic;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;
    color: rgb(var(--secondary));
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: 480px) {
      text-align: center;
    }
  }

  & > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
  }

  & > b{
    font-weight: 600;
  }
}