.navigationDrawer{
    overflow: hidden;
    max-width: 21rem;
    min-width: 21rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.navigationDrawerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--surface-container-high));
    border-radius: 0.75rem;
}

.navigationDrawerHeader{
    margin-bottom: 1rem;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-right: 25%;
    border-bottom: 1px solid rgb(var(--outline-variant));
}

.navigationDrawerTabs{
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
    gap: 0.125rem;
}

.navigationDrawerFooter{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    border-top: 1px solid rgb(var(--outline-variant));
}

.navigationDrawerFooterIcons{
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navigationDrawerFooterText{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    white-space: wrap;
    overflow: hidden;

    span{
        white-space: nowrap;
    }
}