/* Inter 18pt Fonts */
@font-face {
  font-family: 'Inter 18pt';
  src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Inter 24pt Fonts */
@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 24pt';
  src: url('/fonts/Inter_24pt-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Inter 28pt Fonts */
@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter 28pt';
  src: url('/fonts/Inter_28pt-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

html,
body {
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
}

body {
  color: rgb(var(--on-surface));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inter 18pt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-family: 'Inter 24pt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.5625rem;
	font-style: normal;
font-weight: 400;
line-height: 4rem;
letter-spacing: -0.01563rem;
}

h2{
  font-family: 'Inter 24pt','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2.8125rem;
font-style: normal;
font-weight: 400;
line-height: 3.25rem; /* 115.556% */
}

h3{
  font-family: 'Inter 24pt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2.25rem;
font-style: normal;
font-weight: 400;
line-height: 2.75rem; /* 122.222% */
}

h4{
  font-family: 'Inter 24pt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 2.5rem; /* 125% */
}

h5{
  font-family: 'Inter 24pt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.75rem;
font-style: normal;
font-weight: 400;
line-height: 2.25rem; /* 128.571% */
}

h6{
  font-family: 'Inter 24pt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; /* 133.333% */
}
