.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: rgba(var(--on-surface), 0.12);
    }

    &:active {
        background-color: rgba(var(--on-surface), 0.2);
    }

    &:focus-within {
        outline: 2px solid rgb(var(--primary));
    }


    & > h3 {

        font-size: 1.5rem;
        line-height: 2rem;
        color: rgb(var(--secondary));
    }

    & > svg {
        font-size: 0.75rem;
        color: rgb(var(--secondary));
        rotate: -90deg;
    }
}

.wrapperContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.dayWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    @media (max-width: 450px) {
        gap: 0.125rem;
    }
}

.iconButton {
    @media (max-width: 380px) {
        display: none;
    }

    @media (max-width: 450px) {
       padding: 0.125rem;
    }
}

.dayTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3rem;
    border-radius: 0.5rem;
    padding-bottom: 0.75rem;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    user-select: none;

    &:hover {
        background-color: rgba(var(--on-surface), 0.12);
    }

    &:active {
        background-color: rgba(var(--on-surface), 0.2);
    }

    @media (max-width: 520px) {
        width: 2rem;
    }


    &::after {
        content: "";
        position: absolute;
        bottom: 0;
       border-start-start-radius: 0.5rem;
       border-start-end-radius: 0.5rem;
        width: 1rem;
        height: 0.25rem;
        background-color: rgb(var(--primary));
        opacity: 0;
    }

    &.today:not(.selected) {

    &::after {
        opacity: 1;
            background-color: rgb(var(--on-surface));
            width: 2rem;
        }
    }


    &.selected {

        &::after {
        opacity: 1;
        }

        & > h4 {
            color: rgb(var(--primary)) !important;
        }
    }


    & > h4{
        font-size: 24px;
        font-weight: 600;
        color: rgb(var(--on-surface));

        @media (max-width: 520px) {
            font-size: 20px;
        }
    }

    & > h6{
        letter-spacing: 0.1rem;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        color: rgb(var(--on-surface-variant));

        @media (max-width: 520px) {
            font-size: 10px;
            line-height: 10px;
        }
    }
}