.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

    &:hover{
        transform: scale(1.05);
        filter: brightness(1.05);
    }

    &:active{
        transform: scale(0.95);
        filter: brightness(0.95);
    }

    &:focus-within{
        outline: 2px solid rgb(var(--primary));
    }
}