.navigationDrawer{
    overflow: hidden;
    max-width: 21rem;
    min-width: 21rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    transition: max-width 0.3s ease-in-out, min-width 0.3s ease-in-out; 
    

    &[data-expanded="false"]{
        max-width: 5rem;
        min-width: 5rem;
    }


    @media (max-width: 1024px) {  
        max-width: 5rem;
        min-width: 5rem;
        z-index: 25;
    }

    @media (max-width: 600px) {
        display: none;
        &[data-open="true"] {
            background-color: rgba(var(--scrim), 0.5);
            backdrop-filter: blur(3px);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: left;
            max-width: 100%;
            min-width: 100%;
            padding: 0.5rem;
        }
    }
}

.navigationDrawerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--surface-container-high));
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgba(var(--shadow), 0.30), 0 2px 6px 2px rgba(var(--shadow), 0.15);
    transition: max-width 0.3s ease-in-out, min-width 0.3s ease-in-out;

    @media (max-width: 1024px) {
        &[data-open="true"] {
            height: calc(100% - 1rem);
            left: 0.5rem;
            max-width: 21rem;
            position: absolute;
        }
    }

    @media (max-width: 600px) {
        &[data-open="true"] {
            position: relative;
            max-width: 30rem;
            height: 100%;
            left: 0;
        }
    }
}

.navigationDrawerHeaderLogo{

    &[data-expanded="false"]{
        display: none;
    }

    @media (max-width: 1024px) {
        display: none;
        &[data-open="true"] {
            display: block;
        }
    }

}

.navigationDrawerHeader{

    margin-bottom: 1rem;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 25%;
    border-bottom: 1px solid rgb(var(--outline-variant));

    &[data-expanded="false"]{
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    } 

    @media (max-width: 1024px) {
        padding-right: 0;
        padding-left: 0;
        justify-content: center;

        &[data-open="true"] {
            padding-right: 25%;
            padding-left: 0.5rem;
            justify-content: space-between;
        }
    }

}

.navigationDrawerTabs{
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
    gap: 0.125rem;
}

.navigationDrawerFooter{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    border-top: 1px solid rgb(var(--outline-variant));
}

.navigationDrawerFooterIcons{
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    width: 100%;

    &[data-expanded="false"]{
        display: none;
    }

    @media (max-width: 1024px) {
        display: none;

        &[data-open="true"] {
            display: flex;
        }
    }
}
.navigationDrawerFooterText{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    white-space: wrap;
    overflow: hidden;

    &[data-expanded="false"]{
        display: none;
    }

    @media (max-width: 1024px) {
        display: none;

        &[data-open="true"] {
            display: flex;
        }
    }

    span{
        white-space: nowrap;
    }
}