body{
    background-image: url("../../../../public/background/LeagueofLegends_Worlds2022_ChaseCenter_California_Stage-1536x864.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(var(--on-primary-fixed));
    z-index: -3;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    backdrop-filter: blur(10px);
   

    @media (max-width: 768px) {
        padding: 0;
        background-image: none;
        background-color: rgb(var(--surface));
        backdrop-filter: none;
    }

}