.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 6.625rem;
  min-width: 5.5rem;

  @media (max-width: 450px){
    max-width: 6rem;
    min-width: 6rem;
  }
}

.timeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > h5 {
    color: rgb(var(--on-surface-variant));
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;

    @media (max-width: 450px){
      font-size: 0.625rem;
      line-height: 0.875rem;
    }
  }

  & > h5 > b {
    color: rgb(var(--on-surface));
  }

  
}

.liveContainer {
  & > h4 {
    color: rgb(var(--tertiary));
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.scoreContainer{
  color: rgb(var(--on-surface));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .winner{
    color: rgb(var(--primary));
    font-weight: 700;
  }

  & > h2{
    font-style: italic;
    font-weight: 500;
    font-size: 2.815rem;
    line-height: 3.25rem;

    @media (max-width: 450px) {
      font-size: 2.25rem;
      line-height: 2.25rem;
    }
  }

  & > h3{
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.25px;

    @media (max-width: 450px){
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}
.format{
  color: rgb(var(--secondary)) !important; 
}
.game{
  font-size: 1.75rem !important;
  font-weight: 500 !important;
}